{% extends "base.html"%}
{% block title %} Sketch! {% endblock %}
{% block headers %}

		<!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/draw-room.css') }}">
	{% endblock %}


{% block content %}

<!-- Drawing Surface -->
<canvas class="custom-canvas" id="draw_surface" oncontextmenu="return false;"></canvas>
<!-- <canvas> </canvas> -->
<main>


<!-- todo USE TRANSITION AND OVERFLOW Y TO ANIMATE CARDS APPEARING -->
<!-- Holder of the cards -->
<div class="cards-parent noselect"> 
	<!-- The color picking tool -->
	<div class="color-picker card text-white bg-dark mb-3" id="colorPicker">
		<div class="card-header"><a href="javascript:void(0)" class="card-closer" onclick="openColors()">&times;</a>Colors</div>
		<div class="card-body"> 
			{% for color in colors: %}
		<label class="btn btn-secondary">
			<input class="color-radio" type="radio" name="color" id="color{{loop.index}}" autocomplete="off" checked value="{{color}}" ><i class="fas fa-tint" style="color: {{color}};"></i>
		</label>
			{% endfor %}
		</div>
	</div>
	<!-- The thickness picking tool -->
	<div class="thickness-picker card text-white bg-dark mb-3" id="thicknessPicker">
		<div class="card-header"><a href="javascript:void(0)" class="card-closer" onclick="openThickness()">&times;</a>Thickness</div>
		<div class="card-body"> 
			<div class="slidecontainer" id="thicknessRange">
			<input type="range" min="1" max="50" value="10" class="slider" id="thickness">
			<p style="color: white">Size: <span style="color: white" id="displayThickness"></span></p>
		</div>
	</div>
</div>

<!-- Sidebar interior -->
<div id="mySidenav" class="sidenav">
	<!-- The color picking button -->
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<button type="button" onclick="openColors()" class="sidebar-button fas fa-palette btn btn-light btn-lg" id="colorPickerBtn"> </button>
	<br></br> 
	<!-- The thickness picking button -->
	<button type="button" onclick="openThickness()" class="sidebar-button fas fa-brush btn btn-light btn-lg" id="thickness-toggle">&nbsp</button>
	<br></br> 

	<button type="button" class="sidebar-button fas fa-fill-drip btn btn-light btn-lg" id="bucket"></button>
	<br></br>
	<button type="button" class="sidebar-button fas fa-shapes btn btn-light btn-lg" id="shapes"></button>
	<br></br>
	<button type="button" class="sidebar-button fas fa-trash btn btn-danger btn-lg" id="clear"></button>
	<br></br>
	
	
</div>

<!-- Sidebar open button -->
	<button onclick="openNav()" id="side-open" type="button" class="openbtn fas fa-paint-roller btn btn-dark btn-lg"></button>

	
</main>






<!-- Drawing Script -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/drawapp.js') }}" ></script>

<!-- Sidebar script -->
	<script>

		var slider = document.getElementById("thickness");
		var output = document.getElementById("displayThickness");
		output.innerHTML = slider.value; // Display the default slider value

		// Update the current slider value (each time you drag the slider handle)
		slider.oninput = function() {
			output.innerHTML = this.value;
		}

		// function openColors() {
		// 	let colorPicker = document.getElementById("colorPicker");
		// 	if (colorPicker.style.width === "10%") {
		// 		colorPicker.style.width = "0%";
		// 	}
		// 	else {
		// 		colorPicker.style.width = "10%";
		// 	}
		// }

		
		function openColors() {
			let colorPicker = document.getElementById("colorPicker");
			if (colorPicker.style.display === "block") {
				colorPicker.style.display = "none";
			}
			else {
				colorPicker.style.display = "block";
			}
		}

		function openThickness() {
			let thicknessRange = document.getElementById("thicknessPicker");
			if (thicknessRange.style.display === "block") {
				thicknessRange.style.display = "none";
			} 
			else {
				thicknessRange.style.display = "block";
  }
		}

		function openNav() {
			document.getElementById("mySidenav").style.width = "90px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0px";
		}

	</script>


{% endblock %}

</html>