{% extends "base.html"%}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="card border-primary mb-3" style="max-width: 1000px;">
	<div class="card-header">WAKANDA FOREVER</div>
	<div class="card-body">
		<h4 class="card-title">"כושים בבושים מאת גיא "</h4>
		<p class="card-text">סייק ניגה כושי ענקי בבוש מחכה לי עם סקאר 200 נודר נדר איזי איזה קיל איזה גרוע הוא ננה בננה LOL LOL
			LOL</p>
	</div>
</div>
<div class="card border-primary mb-3" style="max-width: 1000px;">
	<div class="card-header">אודות קלעי</div>
	<div class="card-body">
		<h4 class="card-title">שייטת 13 גאמא סייבר אוקי אוקי</h4>
		<p class="card-text">מה לעזאזל אמרת עליי הרגע, חתיכת אפס קטן? רק שתדע שנבחרתי להיות מצטיין המחלקה שלי בסיירת מטכ"ל, הייתי
			מעורב בהמוני פשיטות נגד החיזבאללה והרגתי מעל 300 מחבלים. אני מאומן בלוחמת גרילה ואני הצלף הכי טוב בכל צה"ל. אתה כלום לעומתי,
			אתה רק עוד מטרה בשבילי. אני אשמיד אותך בכזה דיוק שלא נראה עוד בכל תולדות האנושות, תזכור את מה שאמרתי. אתה חושב שאתה יכול
			לברוח אחרי החרא שאמרת עליי באינטרנט?! תחשוב שוב, קוקסינל. ברגעים אלה, ממש בזמן שאנחנו מדברים, אני משתמש ברשת הריגול הסודית
			שלי שעוקבת אחרי כל ישראל, ואני מאתר את כתובת הIP שלך ממש עכשיו, אז כדאי לך להתכונן לסערה, ילד פגר. הסערה שתחריב את הדבר
			הקטן והפתטי הזה שנקרא החיים שלך. אתה פאקינג מת, ילד. אני יכול להיות בכל מקום ובכל זמן, ורק בידיים ריקות אני יכול להרוג
			אותך ב700 דרכים. לא רק שאני מאומן בצורה מקיפה בקרב פנים אל פנים, יש לי גם גישה חופשית לכל מאגר הנשק של זרוע היבשה ואני
			אשתמש בזה בכל העוצמה כדי למחוק את קיומך מעורר הרחמים מהעולם הזה, חתיכת חרא קטן. אם רק היית יודע איזה עונש מזעזע התגובה
			ה"חכמה" שלך הייתה מביאה עליך, אולי היית שומר על הפה המלוכלך שלך. אבל לא, היית חייב, ועכשיו אתה משלם את המחיר, חתיכת אידיוט.
			אני אחרבן עלייך את כל הזעם שלי ואתה תטבע בו. אתה פאקינג מת, ילדון.</p>
	</div>
</div>
{% endblock %}