{% extends "base.html"%}
{% block title %} Home Page {% endblock %}
{% block content %}


<div class="home-page">
	<div class="col"> Welcome to Sketch by Alon Levi</div>
	<div class="col"> This project has been built as my 12th grade project for kalay high school, specifically the programming and cyber class, in this project I wanted to advance my programming and design abilities. </div>
	<div class="col"> This project was developed on repl.it, an online IDE to code on, and a host to let my server run on, using repl I was able to work on my code anywhere and easily get other people to help me test my site during development. </div>
	<div class="col"> This project is meant to be an online drawing board, it is built with ease of use in mind and should be used for whatever the user wishes, from messing around with friends to using it as a teaching tool, just create a room, send the link, and you are done. </div>
	<div class="col"> I want to thank everyone who helped me during development and testing, with an extra thanks to those who gave me a fresh pair of eyes to look at the annoying problems during code and those that helped me brainstorm ideas for what I should do with this site. </div>
	<div class="col"> <a class='testBtn' href="/drawroom/public"> Join the public room! </a> </div>
</div>




{% endblock %}