{% extends "base.html"%}
{% block title %} Home Page {% endblock %}
{% block content %}


<div class="home-page">
	<div class="col"> This is sketch by Alon Levi etc etc </div>
	<div class="col"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo deserunt aliquid asperiores, dolorem debitis esse aliquam dolorum sed accusamus tempore minus sequi veritatis provident iusto unde libero nisi necessitatibus? Expedita. </div>
	<div class="col"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo deserunt aliquid asperiores, dolorem debitis esse aliquam dolorum sed accusamus tempore minus sequi veritatis provident iusto unde libero nisi necessitatibus? Expedita. </div>
	<div class="col"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo deserunt aliquid asperiores, dolorem debitis esse aliquam dolorum sed accusamus tempore minus sequi veritatis provident iusto unde libero nisi necessitatibus? Expedita. </div>
	<div class="col"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo deserunt aliquid asperiores, dolorem debitis esse aliquam dolorum sed accusamus tempore minus sequi veritatis provident iusto unde libero nisi necessitatibus? Expedita. </div>
	<div class="col"> <a class='testBtn' href="/drawroom"> Start drawing now! </a> </div>
</div>




{% endblock %}