{% extends "base.html"%}
{% block title %} Register {% endblock %}

{% block headers %}

		<!-- My Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forms.css') }}">

{% endblock %}

{% block content %}

	<form method = "post" action = "" class="form-page">
		<h1>Sketch Reset Password</h1>
		<p> Hello {{session['user']}}. </p>
		</br>
		<label for="pass">New password:</label>
		<input autocomplete="new-password" type = "password" id = "pass" name = "password" placeholder="Password" required>
		<label for="pass">Confirm Password:</label>
		<input autocomplete="new-password" type = "password" id = "pass_conf" name = "pass_conf" placeholder="Same Password" required>
		<input type = "submit" value = "Reset Password">
		{% if err %}
		<p class="error-msg">{{err}}</p>
		{% endif %}
	</form>

{% endblock %}