{% extends "base.html"%}
{% block title %} Settings {% endblock %}

{% block headers %}

		<!-- My Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forms.css') }}">

{% endblock %}

{% block content %}

	<form method = "post" action = "" class="form-page">
		<h1>Sketch Settings</h1>
		<p> Hello {{session['user']}}.</p>
		</br>

		<div class="color-picker card text-white bg-dark" id="colorPicker">
			<div class="card-header">Colors</div>
			<div class="card-body"> 
				{% for color in colors: %}
			<div class="color-button-container">
				<p style="margin-bottom: 0px;"> COLOR {{loop.index}} </p>
				<!-- The color pick button -->
				<label class="btn btn-secondary color-button">
						<input type="color" id="color{{loop.index}}" name="color{{loop.index}}" value="{{color}}" class="hidden-input">
				</label>
			</div>
				{% endfor %}
			</div>
		</div>
		</br>
		<div class="color-picker card text-white bg-dark" id="iconPicker">
			<div class="card-header">Icon</div>
			<div class="card-body"> 
				{% for icon in icons: %}
			<div class="color-button-container">
				<p style="margin-bottom: 0px;"> ICON {{loop.index}} </p>

				<label class="btn btn-secondary color-button">
					<i class="{{icon}}"></i>
					<input style="display:none" type="radio" name="icon" id="icon{{loop.index}}" value="{{icon}}"
					{% if cur_icon ==  icon%}
						checked
					{% endif %}
					>
				</label>
			</div>
				{% endfor %}
			</div>
		</div>
	</br>

	<p>Regrets? <a href="/reset_settings">Restore default settings.</a></p>
	<p>Forgot Something? <a href="/reset_password">Reset your password.</a></p>
	<input type = "submit" value = "Save Settings">

	</form>

	<script> 
	
		const color_inputs = document.querySelectorAll('input[type=color]');
		const icon_inputs = document.querySelectorAll('input[type=radio]');

		color_inputs.forEach((input) => {
			input.parentElement.style.color = input.value;
			input.parentElement.style.backgroundColor = input.value;
			input.addEventListener('input', handleColor);
			input.addEventListener('change', handleColor);
		});

		icon_inputs.forEach((input) => {
			if (input.checked) { input.parentElement.previousElementSibling.style.borderBottom = '1px solid #fafafa'; }
			input.addEventListener('change', handleIcon);
		});

		function handleColor(e) {
			this.parentElement.style.backgroundColor = e.target.value;
			this.parentElement.style.color = e.target.value;
		}

		function handleIcon(e) {
			icon_inputs.forEach((input) => {
			input.parentElement.previousElementSibling.style.borderBottom = 'none';
		});
		this.parentElement.previousElementSibling.style.borderBottom = '1px solid #fafafa';
		}

	</script> 

{% endblock %}