@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
	overscroll-behavior: none;
}

.center {
	text-align: center;
}

.infront {
	z-index: 1;
}

/* .navbar-custom {
  height: 56px;
} */

.right-nav-el {
	display: inline-block;
	color: #292b2c;
	background: #fafafa;
	padding: 0.5em 1em;
	border-radius: 5px;

	margin-left: auto;
}

.center-horizon {
	margin-left: auto;
	/* transition: margin-left 250ms ease-in-out; */
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
      	                          supported by Chrome, Edge, Opera and Firefox */
}