@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
	--background-color: hsl(0, 0%, 98%);
	--background-color-darker: hsl(0, 0%, 93%);
	--dark-color: hsl(200, 4%, 17%);

}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background-color);
	overscroll-behavior: none;
}

.center {
	text-align: center;
}

.infront {
	z-index: 1;
}

/* .navbar-custom {
  height: 56px;
} */

.right-nav-el {
	white-space: nowrap;
	display: inline-block;
	color: var(--dark-color);
	background: var(--background-color);
	padding: 0.5em 1em;
	border-radius: 5px;

	margin-left: auto;
}

@media only screen and (min-width: 575px) and (max-width: 705px) {
  .right-nav-el {
		display: none;
	}
}

.user-related {
	color: var(--background-color) !important;
}

.active-item {
	border-bottom: 1px var(--background-color) solid;
}

.center-horizon {
	margin-left: auto;
}

.home-page {
	background: var(--background-color-darker);

	display: flex;
	flex-wrap: wrap;

	overflow: auto;

	height: calc(100% - 56px);
	width: 90%;
	margin: 0 auto;
}

.home-page > * {
	flex: 1 1 40%;
}

.home-page > *:nth-child(1),
.home-page > *:nth-last-child(1) {
	border-style: none;
	flex-shrink: 0;
	flex-basis: calc(100% - 4em);
}

.col {
	display: inline-block;
	padding: 3em;
	margin: 3em 1em;
	border-style: solid;
	border-color: var(--dark-color);
	border-width: .1em;
}

.testBtn {

	white-space: nowrap;
	
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	background:	var(--dark-color);
	color: var(--background-color);

	padding: 1em 2em;
	border-radius: 10em;
}

.testBtn:hover,
.testBtn:focus {
	color: var(--dark-color);
	background: var(--background-color);
	border-style: solid;
	text-decoration: none;
	
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
      	                          supported by Chrome, Edge, Opera and Firefox */
}