
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.color-picker{
	display: none;

	position: absolute;
	top: 7%;
	margin-left: 100px;
	width: 205px;
	
	color: whitesmoke;
	background-color: #111;
	
}

.sidenav .closebtn {
	color:whitesmoke;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
	position: fixed;
	left: 10px;
	top: 64px; /* Top margin 10px + 54px for the navbar */

	color: white;
	/* font-size: 25px; */
}

.sidebar-button {
	
	position: absolute;
	right: 25px;

	color: #818181;
	/* font-size: 25px; */

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slidecontainer .slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slidecontainer .slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(0, 0, 0); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidecontainer .slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(0, 0, 0); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.color-radio {
	display: none;
}